.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 6vh;
    border: solid 1px $color-border;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 7vw;

    &__logo {
        cursor: pointer;
        margin-right: auto;
        // padding: 0px 10px;?
    }
}


.navbar {
    list-style: none;

    &__item {
        display: inline-block;
        padding-left: 40px;
    }

    &__link {
        transition: all 0.3s ease 0s;

        &:hover {
            color: $color-secondary;
        }
    }

}