.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 6vh;
    border: solid 1px $color-border;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 7vw;
    z-index: 2;

    &__logo {
        cursor: pointer;
        margin-right: auto;
    }
}

.navbar {
    list-style: none;

    &__item {
        display: inline-block;
        padding-left: 40px;
    }

    &__link {
        transition: all 0.3s ease 0s;

        &:hover {
            color: $color-secondary;
        }
    }
}

.toggle-button {
    position: absolute;
    // top: .75rem;
    padding-right: 7vw;
    // right: 1rem;2
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    z-index: 10;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: $color-primary;
    border-radius: 10px;
}

@media only screen and (max-width: $breakpoint-sm) {
    .header {
        flex-direction: column;
        align-items: flex-start;
        // justify-content: space-between;
        align-content: space-between;
    }

    .toggle-button {
        display: flex;
    }

    .header__nav {
        display: none;
        width: 100%;
    }

    .header__nav ul {
        width: 100%;
        flex-direction: column;
    }

    .header__nav ul li {
        text-align: center;
    }

    .header__nav ul li a {
        padding: .5rem 1rem;
    }

    .header__nav.active {
        display: flex;
    }
}