@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&display=swap");

.navbar__link {
    font-family: "Cormorant Garamond", serif;
    // font-family: "Cardo", serif;

    font-weight: 500;
    font-size: 16px;
    color: $color-primary;
    text-decoration: none;
}

.header {
    &__logo {
        font-family: "Cormorant Garamond", serif;
        // font-family: "Cardo", serif;

        font-weight: 700;
        font-size: 28px;
        color: $color-primary;
    }
}

.main {
    &__title {
        font-family: "Cormorant Garamond", serif;
        // font-family: "Cardo", serif;

        font-weight: 700;
        font-size: 20px;
        color: $color-primary;
    }

    &__desc {
        font-family: "Cormorant Garamond", serif;
        // font-family: "Cardo", serif;

        font-weight: 500;
        font-size: 16px;
        color: $color-primary;
    }
}

.footer {
    &__text-author-credit {
        font-family: "Cormorant Garamond", serif;
        // font-family: "Cardo", serif;

        font-weight: 700;
        font-size: 22px;
        color: $color-primary;
    }

    &__text-social-media,
    &__text-year-issue {
        font-family: "Cormorant Garamond", serif;
        // font-family: "Cardo", serif;

        font-weight: 500;
        font-size: 20px;
        color: $color-primary;
    }
}

.timeline {
    font-family: "Cormorant Garamond", serif;
    color: $color-primary;

    &__page-name {
        font-weight: 500;
        font-size: 24px;
        color: $color-timeline-line;
    }

    &__name {
        font-weight: 700;
        font-size: 30px;
    }

    &__profession {
        font-weight: 500;
        font-size: 24px;
    }

    &__section {
        font-weight: 700;
        font-size: 20px;
    }

    &__time {
        font-size: 16px;
    }

    &__title {
        font-weight: 500;
        font-size: 20px;

    }

    &__paragraph {}

}